body {
	background-color: #333333;
}
  
.header {
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background: #141414;
	background: linear-gradient(to right, #141414, #707070, #141414);
	color: white;
	top: 0;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out;
	z-index: 9999;
}

#yourtop {
	height: 300px;
	width: 300px;
	border-radius: 10px;
	border: solid rgb(89, 255, 47) 2px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#formArtista button {
	display: none;
}

#nombre {
	padding-left: 10px;
	font-size: 30px;
	border-radius: 50px;
	border: 1px solid #575756;
}

#title {
	margin-left: 10px;
	font-size: 1.8em;
	font-weight: 800;
}

#username {
	color: #CCCCCC;
	font-size: 1.0em;
	font-weight: 600;
	padding: 5px;
	border-radius: 10px;
	border: 3px solid #CCCCCC;
  	margin-left: auto;
}

#userpic {
	clip-path: circle(100px at 50%);
	transform: scale(0.3);
}

.container {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	background-color: #333333;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}

#primer_container {
	margin-top: 90px;
}

.map {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 500px;
	width: 80%;
}

.box {
	border: 1px solid white;
	padding: 15px;
	width: 45%;
	box-sizing: border-box;
	background-color: #CCCCCC;
	border-radius: 10px;
}

#filtros .container {
	background-color: #acacac;
	border-color: #141414;
	display: grid;
	grid-template-columns: 35% 35% 30%;
	gap: 10px;
	font-size: 30px;
	font-weight: bold;
}

#filtros form label{
	grid-column: 1;
}

#filtros form input, select {
	grid-column: 2;
}

#filtros form output {
	grid-column: 3;
}

#pais, #inicio, #fin, #ubicacion, #lista_artistas {
	font-size: 20px;
}

#lista_artistas img {
	/* Estilos para las imágenes dentro de #lista_artistas */
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 5px;
  }
  

#boton {
	margin-top: 20px;
	font-size: 30px;
}

#borrar_base {
	font-size: 30px;
	margin-top: 20px;
}

#bb {
	max-width: 200px;
	padding: 10px;
	height: 230px;
	width: 200px;
}

#spoti {
	margin-right: 40px;
	width: 36px;
	height: 36px;
}

li {
	display: flex;
}
  
li form {
	margin-left: 1rem;
}

.spinner {
	border: 8px solid rgb(248, 242, 242);
	border-left-color: transparent;
	border-radius: 50%;
	width: 136px;
	height: 136px;
	display: none;
	
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
}

.show-spinner1 {
	display: block;
	position:absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.show-spinner2 {
	display: block;
	position:absolute;
	top: 80%;
	left: 75%;
	transform: translate(-50%, -50%);
	z-index: 9998;
}

#artist-container {
	position: relative;
}

.overlay-show{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor al nivel de opacidad deseado */
  z-index: 9997;
  opacity: 0.5;
}

#concert-container {
	position: relative;
}

.overlay-show2{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor al nivel de opacidad deseado */
	z-index: 9997;
	opacity: 0.5;
  }

.error-input {
	border: 3px solid red !important;
	color: red;
}

#tabla_conciertos {
	border-collapse: collapse;
	width: 100%;
}

#tabla_conciertos th, #tabla_conciertos td {
border: 1px solid #ddd;
padding: 8px;
}

#tabla_conciertos th {
background-color: #f2f2f2;
}

#tabla_conciertos tr:nth-child(even) { /*Para que los pares sean más claritos que los impares*/
background-color: #f9f9f9;
}

#tabla_conciertos tr:hover {
background-color: #ddd;
}