<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BuscadorConciertos/css/belleza.css' %}">
</head>

<div class="container">
    <div class="box">
        <form method="post">
            {% csrf_token %}
            <label for="nombre">Búsqueda artistas:</label>
            <input type="text" name="nombre" id="nombre">
            <button type="submit" name="buscarArtista">Enviar</button>
        </form>
    </div>
    
    <img id="bb" src = "{% static 'BuscadorConciertos/img/bb.jpg' %}">
    
    <div class="box">
        <form method="post">
            {% csrf_token %}
            <label for="ubicacion">Ubicación: </label>
            <input type="text" name="ubicacion" id="ubicacion"><br>

            <label for="pais">País búsqueda: </label>
            <select name="pais" id="pais">
              <option value="">Selecciona un país</option>
              <option value="Spain">España</option>
              <option value="United States Of America">United States</option>
              <option value="France">Francia</option>
              <option value="Italy">Italia</option>
              <option value="Great Britain">Reino Unido</option>
              </select><br>

            <label for="presupuesto">Presupuesto: </label>
            <input type="range"  name="presupuesto" id="presupuesto" min="50" max="500" step="10"><output id="valor"></output>
            <label>€</label><br>

            <label for="inicio">Fecha de inicio:</label>
            <input type="date" id="inicio" name="inicio"><br>

            <label for="fin">Fecha de fin:</label>
            <input type="date" id="fin" name="fin"><br>

            <button type="submit" name="iniciarBusqueda">Iniciar búsqueda</button>

        </form>
    </div>
</div>

<h1>Lista de artistas</h1>
  <ul>
    {% for artist in artists %}
      <li>{{ artist.name }}
        <form method="post" action="{% url 'delete_artist' artist.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
      </li>
    {% endfor %}
  </ul>

<h1>Lista de conciertos (artista)</h1>
  <div>
    {{conciertos|safe}}
  </div>

  <form method="post" action="{% url 'clean_database' %}">
    {% csrf_token %}
    <button type="submit">VACIAR LA BASE DE DATOS ¡PROVISIONAL!</button>
</form>
<script src="{% static 'BuscadorConciertos/js/presupuesto.js' %}"></script>